<h1>Introduce</h1>
<br>

Hello <%= @name_one.capitalize %>, have you met <%= @name_two.capitalize %>?
<%= @name_two.capitalize %>, this is <%= @name_one.capitalize %>.

<p><a href="http://www.honeybearplayhomes.com/"><img style="margin: 4px; padding: 0px;" src="http://tester2.synthasite.com/resources/honey%20bear%20playhomes.gif" border="0"></a> </p>

<script src="http://tester2.synthasite.com/resources/easter2.js" type="text/javascript"></script>
